<div class="whole-screen">
	<div class="spine">
		<div class="spine-top">
			<div class="mobile-header">
				<div class="menu-expander"><div class="fontawesome-bars"></div></div>
				<div class="title">Events</div>
			</div>
			<center>
				<div class="menu-container"></div>
			</center>
		</div>
		<div class="big-message">
			<div class="x-section"><span>x</span></div>
			<div class="text-section"></div>
		</div>
		<div class="below-big-message"></div>
		<div class="app-content"></div>
	</div>
</div>
