<div style="background: #ebf2f5; padding: 16px; font-family: Helvetica,Sans Serif; color: #333; font-size: 1.1em;">
	<div style="border: 1px solid grey;">
		<div style="padding: 30px 20px; background: #5bbcde; border-bottom: 1px dashed blue; font-size: 1.5em;">
			Welcome to SirraFitness!
		</div>
		<div style="padding: 10px 20px; white-space: pre-line; background: white;">
			Hi ${name},
			
			Thank you for signing up for your SirraFitness account. For your convenience, here are your login details:
			
			Site: http://www.sirrafitness.com
			Username: ${username}
			
			Should you need any assistance, please email us: support@sirrafitness.com
			
			Best regards,
			
			SirraFitness Support.
			
		</div>
		<div style="padding: 10px 20px; background: #5bbcde; white-space: pre-line; border-top: 1px dashed blue;">
			Sent from SirraFitness.co.
			You're receiving this email because you signed up for SirraFitness. Thank you!
			
		</div>
	</div>
</div>